div.article
	max-width 54rem
	background-color alpha(#ddd, 0.4)
	margin 0 auto
	
p
	text-align justify
	padding 0.3rem 6rem
	line-heigth 2em
	font-weight 200
	
.figure
	width 50rem
	margin 1rem 2rem
	
figcaption
	text-align center
	font-style italic
	font-size 1.25rem
	color #cbcbcb
	padding-bottom 1rem

