@import 'reset.css'
@font-face 
	font-family: 'Jonas';
	//	src: url('');
		src: local('☯'),
			url('../font/Jonas.ttf') format('truetype')

body
	font-family Helvetica, sans-serif
	background-image url('../img/stardust.png')
	background-repeat repeat
.pachamama
	font-family Jonas
	color
	opacity 1
h1
	color white
	font-size 4rem
	font-weight bold
	padding 0.5rem 4rem
h2
	font-size 3rem
	font-weight bold
	padding 0.5rem 4rem
h3
	font-size 2.5rem
	padding 1rem 0
	font-weight bold
	padding 0.5rem 4rem
p
	font-size 1.20rem
	line-height 1.30rem
a
	text-decoration none
	color #dadada
strong,b
	font-weight bold
em,i
	font-style italic
.introImage
	position absolute
	bottom 0
	min-width 100%
	min-height 120%
	width auto
	height auto
	opacity 0.8