doctype html
html
	head
		meta(charset='UTF-8')
		title <%= @document.title %>
		link(rel='stylesheet' href='css/styles.css')
		link(rel='stylesheet' href='css/article.css')
	body
		include partials/header.html.jade
		include partials/navbar.html.jade
		div.article <%- @content %>